# 1. import libraries

In [3]:
import pandas as pd
import nltk
from nltk.probability import FreqDist
from nltk.stem import LancasterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.sentiment import SentimentIntensityAnalyzer
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Data Loading and Understanding

In [4]:
# Load mbti data
mbti_data = pd.read_csv("data/mbti_1.csv")

In [5]:
mbti_data.describe()

        type                                              posts
count   8675                                               8675
unique    16                                               8675
top     INFP  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
freq    1832                                                  1

In [6]:
mbti_data.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

## 3. cleaning the data

After looking at the data, I noticed a couple things:
- the data per MBTI is separated by |||
- some of the data has two of these separators in a row, indicating that there is empty data
- there are some links to youtube videos, media posts, or